
    <div class="container">
        <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li class="active">Select Action</li>
               </ul>
            </div>
        <div class="col-xs-12">
            <h1>Hello{{firstName}}, please select an action</h1>
            &nbsp;
        </div>
        <div class="col-xs-12">
            &nbsp;
        </div>
        
            <div class="col-xs-2 col-xs-offset-1">
                <a href="#expenses">
                    <button id="btnTemplate" class="btn">My Template</button></a>
            </div>
           
            <div class="col-xs-2 col-xs-offset-2">
                <a href="#timesheet">
                    <button id="btnTimesheet" class="btn">Timesheet</button></a>
            </div>
            <div class="col-xs-5">
                 &nbsp;
            </div>
            <div class="col-xs-12">
                 &nbsp;
            </div>
            <div class="col-xs-2 col-xs-offset-3">
                <a href="#historical">
                    <button id="btnHistory" class="btn">Historical Data</button></a>
            </div>
            <div class="col-xs-2 col-xs-offset-2">
                <a href="#statistics">
                    <button id="btnStatistics" class="btn">Statistics</button></a>
            </div>

    </div>
