
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html#/actions">Select Action</a></li>
                   <li class="active">Statistics</li>
               </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <h3>Feel free to implement any statistics here</h3>
               <object type="text/html" data="https://www.autosport.com/f1" width="750" height="350"></object>
            </div>
        </div>
    </div>
